<!DOCTYPE html>
<html>
<head>
  <title>Weblinks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="page-aqua">
		<div id="back">

		</div>
		<!-- Navigation -->
		<header>
			<div class="navbar navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="brand" href="#"><i class="icon-rocket"></i> Weblinks</a>
						<div class="nav-collapse collapse">
							<ul class="nav pull-right">
								<li><a href="#row1">Home</a></li>
								<li><a href="#row3">What We do</a></li>
							<!-- 	<li><a href="#row4">Specifications</a></li>
								<li><a href="#row5">Pricing</a></li>
								<li><a href="#row6">Testimonials</a></li> -->
								<li><a href="#row7">Get Started</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div><!-- .navbar -->
		</header>
		
		<!-- Home -->
		<section class="wrapper home">
			<a class="anchor" id="row1"></a>
			<div class="container">
				<div class="row">
					<div class="span12 text-center">
						<hgroup class="main-title white">
							<h2>Website Designs and Development </h2>
							<h3>Simple and clear solutions for your online needs.</h3>
						</hgroup>
						<a class="btn btn-large btn-tomato uppercase">Enquire</a>
						<a class="btn btn-large btn-turquoise uppercase">Learn more</a>
					</div>
				</div>
			</div>
		</section>
		
		<!-- Project -->
	
		
		<!-- Features -->
		<section class="wrapper bg-white">
			<a class="anchor" id="row3"></a>
			<div class="container">
				<div class="row">
					<div class="span12 text-center mar-b30">
						<hgroup>
							<h2>What we do</h2>
							<h3>Years of enterprise experience allow us to clearly define your requirements and needs.<br /> 
							We work on a tailored solution to your specific needs.</h3>
						</hgroup>
					</div>
				</div>
				<div class="row">
					<div class="span6">
						<div class="row-fluid">
							<div class="span2">
								<i class="icon-laptop icon-4x"></i>
							</div>
							<div class="span9">
								<h4>Web Development</h4>
								<p>We can create simple landing pages or complex online applications which can scale according to your needs and growth.</p>
							</div>
						</div>
					</div>
					<div class="span6">
						<div class="row-fluid">
							<div class="span2">
								<i class="icon-rocket icon-4x"></i>
							</div>
							<div class="span9">
								<h4>Ship Faster</h4>
								<p>Our requirements and agile development process enables us to understand your needs and enables us to deliver quickly so you can ship your site out quicker and get it out to the public.</p>
							</div>
						</div>
					</div>
					<div class="span6">
						<div class="row-fluid">
							<div class="span2">
								<i class="icon-bar-chart icon-4x"></i>
							</div>
							<div class="span9">
								<h4>Analytics and Stats</h4>
								<p>Keep track of how your site is progressing. Find out how often your site is accessed and other statistics that can help you track your sites effectiveness.</p>
							</div>
						</div>
					</div>
					<div class="span6">
						<div class="row-fluid">
							<div class="span2">
								<i class="icon-twitter icon-4x"></i>
							</div>
							<div class="span9">
								<h4>Social Media Engagement </h4>
								<p>We provide solutions which give you the best chance to be seen in the current online social circles. Provide you with solutions to market your product or service in a much more cost-effectve way.</p>
							</div>
						</div>
					</div>
					<div class="span6">
						<div class="row-fluid">
							<div class="span2">
								<i class="icon-cloud-upload icon-4x"></i>
							</div>
							<div class="span9">
								<h4>Hosting</h4>
								<p>We don't design the application and leave you high and dry without a proper hosting solution. We can save you money by finding the correct hosting infrastructure to suit your current needs and scalable for future growth.</p>
							</div>
						</div>
					</div>
					<div class="span6">
						<div class="row-fluid">
							<div class="span2">
								<i class="icon-mobile-phone icon-5x"></i>
							</div>
							<div class="span9">
								<h4>Mobile</h4>
								<p>Your applications will be responsive from day 1. This means it can be viewed on several devices such as mobile phones and tablets. Don't miss out on a deal because your site couldn't be viewed on a mobile device.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>		
		
		<!-- Specifications -->
	
		
		<!-- Pricing & Plans -->
		
		
		<!-- Testimonials -->
	
		<!-- Get Started -->
		<section class="wrapper mini-wrapper">
			<a class="anchor" id="row7"></a>
			<div class="container">
				<div class="row">
					<div class="span12 text-center">
						<hgroup class="main-title white">
							<h2>Landlr is the all-in-one landing page</h2>
							<h3>The best solution for launching awesome applications and cool web projects.</h3>
						</hgroup>
						<!-- <a class="btn btn-large btn-tomato uppercase">Buy this template</a> -->
						<a class="btn btn-large btn-transparent uppercase">Contact Us</a>
					</div>
				</div>
			</div>
		</section>
		
		<!-- Footer -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="span10 pull-right">
						<ul class="unstyled inline text-right footer-nav">
							<li><a href="#row1">Home</a></li>
							<li><a href="#row2">Project</a></li>
							<li><a href="#row3">Features</a></li>
							<li><a href="#row4">Specifications</a></li>
							<li><a href="#row5">Pricing</a></li>
							<li><a href="#row6">Testimonials</a></li>
							<li><a href="#row7">Get Started</a></li>
						</ul>
					</div>
					<div class="span2 pull-left copyright">
						Landlr - Copyright 2013
					</div>
				</div>
			</div>		
		</footer>		
		         
	    <!-- Javascript  -->
	    <script type="text/javascript" src="js/jquery.js"></script>
	    <script type="text/javascript" src="js/bootstrap.min.js"></script>
	    <script type="text/javascript" src="js/jquery.scrollTo.min.js"></script>
	    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
	    <!-- Revolution Responsive jQuery Slider -->
	    <script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
	    <script type="text/javascript" src="js/custom.js"></script>
	    
    </body>
</html>
